
body {
    text-align: center;
}

h1 {
    margin: 0 auto;
}

a {
  color: #11999E;
  padding: 2rem;
  text-decoration: none;
}

a:hover {
  color: gold;
}

img {
	padding: 50px;
}


.navbar{
    font-family: "Do Hyeon", sans-serif;
    position: fixed;
    top: 0;
    width: 100%;
}

.short-hr{
	width: 70rem;
}

.container {
    font-family: "Do Hyeon", sans-serif;
    text-align: center;
    margin: 0 20rem;
    padding: 8rem;
}

.add {
	text-align: right;
	margin: 0 20rem;
	padding :2rem 8rem;
}

.alert{
    font-size: 30;
}

.footer {
	font-family: "Gothic A1", sans-serif;
    font-size: 30;
	font-weight: 700;
}

.footer-link {
    font-family: "Gothic A1", sans-serif;
    font-size: 30;
	font-weight: 700;
    padding: 20px;
}